.mobile-navbar {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    /* position: relative; */
}

.mobile-navbar button{
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 2.75rem;
}

.mobile-navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: absolute;
    /* margin-top: 47.8rem; */
    margin-top: 100vh;
    padding: 1rem;
    height: 92vh;
    background: rgba(106, 108, 183, 0.85);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(19.6px);
    -webkit-backdrop-filter: blur(19.6px);
    border: 1px solid rgba(106, 108, 183, 1);
    left: 1;
    right: 0;
    width: 100vw;
    /* height: 90vh; */
    z-index: 2;
}

.mobile-navbar li {
    list-style: none;
}

.mobile-navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

@media (min-width: 767px) {
    .mobile-navbar {
        display: none;
    }
}