@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.home {
    height: 90vh;
    margin-top: 10vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
}

.home-content {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.name {
    font-size: 6rem;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    /* animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.title {
    font-size: 4rem;
    font-weight: lighter;
    font-family: 'Oswald', sans-serif;
}

.home-skills {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-skills h1 {
    text-align: center;
}

.skills {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 60%;
    padding: 1rem;
}

.skills p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.4px);
    -webkit-backdrop-filter: blur(2.4px);
    font-size: 1.5rem;
    max-width: 17.5%;
}

.icon {
    font-size: 5rem;
}

@media (max-width: 767px) {
    .home-content {
        gap: 2rem
    }

    .name {
        font-size: 3rem;
        width: 100%;
    }

    .title {
        font-size: 2.5rem;
    }

    .home-skills h1 {
        font-size: 1rem;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
    }

    .skills p {
        font-size: 1rem;
        min-width: 40%;
    }

    .icon {
        font-size: 2.5rem;
    }
}