@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.contacts {
    height: 90vh;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts h1 {
    font-family: 'Oswald', sans-serif;
}

.contacts form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
}

form input, textarea {
    border: solid 2px white;
    background: transparent;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    border-radius: 5px;
}

form input:focus, textarea:focus {
    outline: none;
}

form button {
    padding: 0.25rem;
    font-size: 1rem;
    background: rgba(106, 108, 183, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(106, 108, 183, 0.41);
    color: white;
}

::placeholder {
    color: white;
    opacity: 1;
}