header {
    /* outline: solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 96%;
    position: fixed;
    /* top: 0; */
    background: white;
    /* position: absolute; */
    /* padding: 0 2rem 0 2rem; */
}

/* header h1 {
    border-bottom: solid #CFB53B 2px;
} */

