.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}


.navbar a:hover {
    animation: anim2 500ms cubic-bezier(0.175, 0.885, 0.32, 0.275) infinite;
}


.navbar > .resume {
    padding: 0.25rem;
    background: rgba(106, 108, 183, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(106, 108, 183, 0.41);
    font-size: 1.15rem;
}

.window-icon {
    display: inline;
    font-size: 1rem;
}

@media (max-width: 767px) {
    .navbar {
        display: none;
    }
}