.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    width: 50%;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .navbar {
        display: none;
    }
}